{{ if eq .Title  "About" }}
<div class="content-wrapper c-headline-about">
    Hi. I'm
    <span class="rotate-words">
        <span class="rotate-in">a developer.</span>
        <span class="rotate-out">an analyst.</span>
        <span class="rotate-out">a dreamer.</span>
        <span class="rotate-out">passionate.</span>
        <span class="rotate-out">an entrepreneur.</span>
        <span class="rotate-out">a little belgian.</span>
    </span><br />
    I am passionate about creating beautiful applications with unique user experience.<br/>
    I am busy finding solutions to problems.
</div>
{{ end }}
