

//---- main menu
.main-menu {
    li {
        margin-right: 1em;

        &:last-child {
            display: none;

            @media(min-width: $bp-tablet) {
                display: inline-block;
            }
        }
    }
}

//---- entry
.entry-content {
    order: 0;

    @media(min-width: $bp-tablet) {
        order: 1;

        & + .c-photo-gallery {
            order: 0;
        }
    }
}

//---- Photoswipe
.pswp__button--arrow--right,
.pswp__button--arrow--left {
    &:active, &:hover {
        background: rgba(0, 0, 0, 0);
    }
}

.pswp__button--close {
    &:hover {
        background: url("assets/photoswipe/default-skin.png") 0 0 no-repeat;
        background-position: 0 -44px;
    }
}

// Code Highlight
.entry-content {
    .highlight {
        max-width: calc(100vw - 40px);

        @media(min-width: $bp-tablet) {
            max-width: initial;
        }
    }
}
