//---- home

.home-sections-container {
    &:before {
        @include block-separation($gray);
        align-self: flex-start;
    }
}

.home-sections {
    padding: 0 ;

    &:before {
        content: none !important;
        margin: 0 !important;
    }
}

.home-section {
    margin-bottom: 3em;
}

.current-project {
    &__title {
        font-weight: 600;
    }

    &__descr {
        font-size: $text-small;
    }

    &:last-child {
        .list-item-descr { margin-bottom: 0; }
    }
}

.currently-learning {
    &__descr {
        font-size: $text-small;
    }
}


//---- about
.c-headline-about {
    font-size: 1.5em;
    font-weight: 300;
    line-height: 1.4;
    text-align: center;

    + .entry-content:before {
        @include block-separation($gray);
    }
}
