
//---------- Responsive
$bp-tablet: 740px;

//---------- Body
$max-content-width: 740px;
$unit: 20px;

//---------- Text
$text-small: .8em;

//---------- Vendors

// photoswipe
// $pswp__assets-path: '../../static/assets/vendors/photoswipe/';
