@import "vars";

//---- vendors
// @import "../../node_modules/photoswipe/src/css/main";
// @import "../../node_modules/photoswipe/src/css/default-skin/default-skin";

//---- theme
@import "../../themes/minimo/src/stylesheets/style";

@import "mixins";
@import "overwrite";
@import "pages";
@import "partials";
@import "components/photo-gallery";
@import "components/rotate-words";

body {
    overflow-y: scroll;
}

.content-wrapper {
    width: 100%;
    max-width: $max-content-width;
    padding-left: $unit;
    padding-right: $unit;
}

.single-content-wrapper {
    display: flex;
    flex-direction: column;
}
