
@import "vars";

// Import theme
@import "../../themes/minimo/src/stylesheets/style";


// -------------
// Overrides
// -------------

// main menu
.main-menu {
    li {
        text-transform: none;
    }
}

// -------------
// PAGES
// -------------

// home (list)
.home-section {
    margin-bottom: 2em;
}

.current-project {
    &__title {
        font-weight: 600;
    }

    &__descr {
        font-size: $text-small;
    }
}
