{{ partial "header" . }}

<main id='main' class='main'>
  <article lang='{{ .Params.lang | default .Lang }}' class='entry'>
    {{ partial "entry/header" . }}
    {{ partial "entry/cover" . }}
    {{ partial "entry/toc" . }}
    <div class="single-content-wrapper">
      {{ if .Params.video }}
      {{ partial "entry/video-player" . }}
      {{ end }}
      {{ partial "entry/content" . }}
      {{ partial "entry/gallery" . }}
    </div>
    {{ partial "entry/footer" . }}
  </article>
  {{ partial "nav/entry_nav" . }}
</main>
{{ partial "vendors/photoswipe" . }}
{{ partial "footer" . }}
