<section id='currently-learning' class='home-section'>
    <!-- <header>
        <h2 class='home-section-title title'>
            {{- i18n "currentLearning" -}}
        </h2>
    </header> -->

    <div class='list-container'>
        <ul class='list'>
            {{ $data := index .Site.Data .Site.Language.Lang }}
            {{ range $data.learning.current }}
            <li class='list-item'>
                <article>
                    <header class='list-item-header'>
                        <h3 class='list-item-title'>
                            <a href="{{ .uri }}" target="_blank">
                                {{ .title }}
                            </a>
                        </h3>
                        <p class="list-item-descr">
                            {{ .descr }}
                        </p>
                    </header>
                </article>
            </li>
            {{ end }}
        </ul>
    </ul>
</section>
