<section id='current-projects' class='home-section'>
    <header>
        <h2 class='home-section-title title'>
            {{- i18n "projects" -}}
        </h2>
    </header>

    <div class='list-container'>
        <ul class='list'>
            <ul class="list">
                {{ $data := index .Site.Data .Site.Language.Lang }}
                {{ range $data.projects.current }}
                    <li class="current-project">
                        <div class="current-project__title">{{ .title }}</div>
                        <p class="current-project__descr">{{ .descr }}</p>
                    </li>
                {{ end }}
            </ul>
        </ul>
    </div>
</section>
