{{ with .Resources.ByType "image" }}
<div class="content-wrapper c-photo-gallery" itemscope itemtype="http://schema.org/ImageGallery">
    {{ range $index, $elem := $.Resources }}
    {{ if in $elem.RelPermalink "small" }}
    <a
        href="{{ strings.Replace .RelPermalink "-small" "" }}"
        data-check="{{ $index }}"
        {{ if $.Params.heighttumbs }}
        style="min-height: {{ index $.Params.heighttumbs $index }};"
        {{ end }}
        itemprop="contentUrl"
        data-size="{{ cond (isset ($.Params) "galleryimgratio") $.Params.galleryImgRatio "1200x765" }}"
        data-index="{{ div $index 2 }}"
        class="c-photo-gallery__link">
        <img src="{{ .RelPermalink }}" itemprop="thumbnail" />
    </a>
    {{ end }}
    {{ end }}
</div>
{{ end }}
